:root {
  --kit-color--primary: #222222;
  --kit-color--primary-contrast: #ffffff;
  --kit-color--focus: #222222;
  --kit-radius--base: 8px;
  --kit-radius--full: 999px;
  --kit-radius--none: 0px;
  --kit-opacity--disabled: 0.42;
}
