.kit-icon-button {
  appearance: none;
  cursor: pointer;
  background: var(--kit-color--primary);
  border: none;
  border-radius: var(--kit-radius--base);
  color: var(--kit-color--primary-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  padding: 0;
  margin: 0;

  &:disabled {
    cursor: not-allowed;
    opacity: var(--kit-opacity--disabled);
  }

  &:focus-visible {
    outline: 2px solid var(--kit-color--focus);
    outline-offset: 2px;
  }

  &--shape {
    &-circle {
      border-radius: var(--kit-radius--full);
    }

    &-rounded {
      border-radius: var(--kit-radius--base);
    }

    &-square {
      border-radius: var(--kit-radius--none);
    }
  }

  &--variant {
    &-filled {
      background: var(--kit-color--primary);
      border: none;
      color: var(--kit-color--primary-contrast);
    }

    &-outlined {
      background: transparent;
      border: 1px solid var(--kit-color--primary);
      color: var(--kit-color--primary);
    }

    &-ghost {
      background: transparent;
      color: var(--kit-color--primary);
    }
  }
}
